/* screen - u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 */

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 {
  align-items: flex-start;
  display: flex;
  width: 84px;
}

#overlay-u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 .x {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: #dadada;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #00000040;
  display: flex;
  flex-direction: column;
  height: 114px;
  overflow: hidden;
  padding: 5px 0;
  width: 84px;
}

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 .overlap-group {
  height: 22px;
  margin-right: 0;
  position: relative;
  width: 78px;
}

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 .text-113 {
  color: var(--cape-cod);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 600;
  left: 0;
  position: absolute;
  top: 0;
}

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 .vector-1 {
  height: 7px;
  left: 33px;
  position: absolute;
  top: 9px;
  width: 7px;
}

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 .text-11 {
  margin-bottom: -28px;
  margin-right: 1.0px;
  margin-top: 4px;
}

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 .text-110 {
  margin-bottom: -28px;
  margin-right: 1.0px;
  margin-top: 5px;
}

.u4352u4453u4357u4469u4361u4462u4523u46u46u46u46u46 .text {
  height: 22px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
  width: 78px;
}
