/* screen - u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 */

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 {
  align-items: flex-start;
  background-color: #40404080;
  display: flex;
  width: 335px;
}

#overlay-u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 {
  align-items: center;
  background-color: #40404080;
  justify-content: center;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .view {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 137px;
  overflow: hidden;
  width: 335px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .text-187 {
  color: transparent;
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 39px;
  line-height: 50px;
  margin-top: 39px;
  width: 307px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .span0 {
  color: var(--black);
  font-weight: 600;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .span1 {
  color: var(--black);
  font-weight: 500;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .view-container {
  height: 32px;
  margin-left: 2.0px;
  position: relative;
  width: 337px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .view-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 32px;
  left: 165px;
  min-width: 172px;
  position: absolute;
  top: 0;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .overlap-group {
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0px 0px 5px 0px;
  min-width: 170px;
  padding: 7px 21.6px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .text-188 {
  color: #cb0e0e;
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 15px;
  line-height: 20px;
  width: 125px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .view-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 32px;
  left: 0;
  min-width: 168px;
  position: absolute;
  top: 0;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .overlap-group1 {
  border-radius: 0px 0px 0px 5px;
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 166px;
  padding: 7px 47.1px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .text-189 {
  color: var(--black);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 15px;
  line-height: 20px;
  width: 70px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .overlap {
  align-items: flex-start;
  background-color: var(--white);
  border-color: #bbbbbb;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 32px;
}

.u4368u4449u4527u4368u4460-u4363u4449u4523u4354u4450u4366u4449u4540 .text {
  font-family: var(--font-family-inter);
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
}
