<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/hansick.css" />
</head>
<body>
<div class="android-x">
    <div class="div">
        <div class="group">
            <div class="overlap">
                <div class="list">
                    <div class="list-2">
                        <div class="view">
                            <div class="overlap-group">
                                <img class="rectangle" src="/img/rectangle-18-2@2x.png" />
                                <div class="text-wrapper">두진주먹밥</div>
                                <div class="overlap-group-wrapper">
                                    <div class="div-wrapper"><div class="text-wrapper-2">매장 설명 적는 곳</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap-group">
                                <img class="img" src="/img/rectangle-18-30@2x.png" />
                                <div class="text-wrapper">호반식당</div>
                                <div class="overlap-group-wrapper">
                                    <div class="div-wrapper">
                                        <p class="p">
                                            미원이 들어가지 않은 담백한 음식을 원칙으로 식재료 고유의 맛을 살린 담백하고 질리...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-2">
                            <div class="overlap-group">
                                <img class="img" src="/img/rectangle-18-1@2x.png" />
                                <div class="text-wrapper">황금밥상</div>
                                <div class="overlap-group-wrapper">
                                    <div class="div-wrapper">
                                        <p class="p">
                                            21년도 충북&lt;밥맛좋은집&gt;지정업소로 갓지은 1인용 솥밥과 어머니의 정성이 듬뿍담긴 각...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-3">
                            <div class="overlap-group">
                                <img class="rectangle" src="/img/rectangle-18-3.svg" />
                                <div class="overlap-2">
                                    <div class="text-wrapper-3">예원</div>
                                    <div class="group-2">
                                        <div class="overlap-group-2">
                                            <div class="rectangle-2"></div>
                                            <div class="text-wrapper-4">매장 설명 적는 곳</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-3">
                        <div class="view">
                            <div class="overlap-group">
                                <img class="img" src="/img/rectangle-18-4@2x.png" />
                                <div class="text-wrapper">꿀참나무</div>
                                <div class="overlap-group-wrapper">
                                    <div class="div-wrapper"><div class="text-wrapper-2">매장 설명 적는 곳</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap-group">
                                <img class="img" src="/img/rectangle-18-17@2x.png" />
                                <div class="text-wrapper">솔이네맛집</div>
                                <div class="overlap-group-wrapper">
                                    <div class="div-wrapper">
                                        <p class="text-wrapper-5">
                                            저녁에 삼겹살이나 감자탕에 소주 한 잔 하기 좋은 식당. 해장국이 정말 맛있는 집. 묵은지...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-2">
                            <div class="overlap-group">
                                <img class="img" src="/img/rectangle-18-5@2x.png" />
                                <div class="text-wrapper">천등산손두부</div>
                                <div class="group-3">
                                    <div class="div-wrapper">
                                        <p class="text-wrapper-6">
                                            국산콩을 사용하여 재래식 방법으로 직접 만든 두부로 순두부 째개, 두부 구이, 전골 등 다양...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-3">
                            <div class="overlap-group">
<!--                                오디향 음식 사진 x-->
                                <img class="rectangle" src="/img/rectangle-18-10@2x.png" />
                                <div class="text-wrapper">오디향</div>
                                <div class="group-3">
                                    <div class="div-wrapper">
                                        <p class="text-wrapper-7">
                                            오디향은 농장을 직접 운영하면서 무공해로 키운 재료만을 사용하여 신선한 음식만을....
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-4">
                        <div class="view">
                            <div class="overlap-group">
                                <img class="rectangle" src="/img/rectangle-18-9@2x.png" />
                                <div class="overlap-2">
                                    <div class="text-wrapper-3">고기랑해장국</div>
                                    <div class="group-2">
                                        <div class="overlap-group-2">
                                            <div class="rectangle-2"></div>
                                            <div class="text-wrapper-4">매장 설명 적는 곳</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap-group">
                                <img class="img" src="/img/rectangle-18-24@2x.png" />
                                <div class="text-wrapper-8">밥벗 박달로62</div>
                                <div class="overlap-group-wrapper">
                                    <div class="div-wrapper">
                                        <p class="text-wrapper-9">5,800포기 김치찜과 솥밥이 맛있는 박달로62입니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-2">
                            <div class="overlap-group">
                                <img class="img" src="/img/rectangle-18-6@2x.png" />
                                <div class="overlap-2">
                                    <div class="text-wrapper-3">열두달밥상</div>
                                    <div class="group-2">
                                        <div class="overlap-group-2">
                                            <div class="rectangle-2"></div>
                                            <div class="text-wrapper-4">매장 설명 적는 곳</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-3">
                            <div class="overlap-group">
<!--                                국밥 생각 사진 x-->

                                <img class="img" src="/img/rectangle-18-20@2x.png" />
                                <div class="overlap-3" onclick="moveToKoreanFoodPage()">
                                    <div class="text-wrapper-3">국밥생각</div>
                                    <div class="group-4">
                                        <div class="overlap-group-3">
                                            <div class="rectangle-3"></div>
                                            <p class="text-wrapper-10">
                                                국밥생각은 한우 사골 벵스의 깔끔하고 진한육수입니다. 고기도 가장 좋은 부위만 선별하...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame">
                    <div class="frame-2">
                        <img class="union" src="/img/union.svg" />
                        <div class="view-wrapper">
                            <div class="view-4">
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-group-4"><div class="text-wrapper-11">한식</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-12">중식</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-13">일식</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-12">양식</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-12">분식</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-12">뷔페</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-14">패스트푸드</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-13">디저트</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-12">1인분</div></div>
                                </div>
                                <div class="overlap-group-wrapper-2">
                                    <div class="overlap-4"><div class="text-wrapper-12">야식</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-5">
                <div class="overlap-5">
                    <div class="view-6">
                        <div class="overlap-group-5">
                            <img class="line" src="/img/line-3.svg" />
                            <div class="text-wrapper-15">예약 현황</div>
                        </div>
                    </div>
                    <div class="frame-wrapper">
                        <div class="frame-3"><div class="text-wrapper-16">예약 현황이 존재하지 않습니다.</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function moveToKoreanFoodPage() {
        // 이동할 페이지의 URL을 설정합니다.
        var url = "/shop";
        // 현재 페이지를 이동할 페이지로 변경합니다.
        location.href = url;
    }
</script>
</body>
</html>