<!DOCTYPE html>
<html lang="en">
<head title="">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/hello-home.css" />
</head>
<body>
<div class="android-login">
    <div class="div">
        <a href="/login" class="text-wrapper">회원으로 로그인하기</a>
        <div class="text-wrapper-2">또는</div>
        <div class="google">
            <div class="group">
                <div class="text-wrapper-3">구글로 로그인하기</div>
                <img class="image" src="/img/image-3.png" />
            </div>
        </div>
        <div class="view">
            <div class="overlap-group">
                <img class="rectangle" src="/img/rectangle-6-1.svg" />
                <div class="group-2">
                    <img class="image" src="/img/image-2.png" />
                    <div class="text-wrapper-4">카카오로 로그인하기</div>
                </div>
            </div>
        </div>
        <div class="logo"><img class="mask-group" src="/img/mask-group.png" /></div>
    </div>
</div>
</body>
</html>