<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/login-guest.css" />
</head>
<body>
<div class="android">
    <div class="div">
        <div class="view">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="text-wrapper">
                    <button class="transparent-button" onclick="moveToLoginPage()"> 회원 로그인</button> </div>

            </div>
        </div>
        <div class="view-2">
            <div class="overlap-group-wrapper">
                <div class="overlap-group">
                    <div class="rectangle-2"></div>
                    <div class="text-wrapper-2">비밀번호</div>
                </div>
            </div>
            <div class="overlap-wrapper">
                <div class="overlap-group">
                    <div class="rectangle-2"></div>
                    <div class="text-wrapper-2">아이디</div>
                </div>
            </div>
        </div>
        <div class="text-wrapper-3">로그인</div>
        <div class="group">
            <div class="logo-wrapper">
                <div class="logo"><img class="mask-group" src="/img/mask-group.png" /></div>
            </div>
        </div>
    </div>
</div>

<script>
    function moveToLoginPage() {
        // 이동할 페이지의 URL을 설정합니다.
        var url = "/main";
        // 현재 페이지를 이동할 페이지로 변경합니다.
        location.href = url;
    }

</script>
</body>
</html>