<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="android-home">
    <div class="div">
        <div class="home">
            <div class="overlap">
                <div class="overlap-wrapper">
                    <div class="overlap-group">
                        <div class="group">
                            <div class="overlap-group-2">
                                <div class="rectangle"></div>
                                <div class="rectangle-2"></div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="view">
                                <div class="overlap-2">
                                    <img class="img" src="/img/rectangle-18.svg" />
                                    <div class="text-wrapper">달콤테라스</div>
                                    <div class="overlap-group-wrapper">
                                        <div class="div-wrapper">
                                            <p class="p">
                                                빵은 매일 9시부터 나오며 재고 소진 시 마감합니다. 대량 구매 및 특정 상품 구매 시 예...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-2">
                                <div class="overlap-2">
                                    <img class="rectangle-3" src="/img/rectangle-18-17@2x.png" />
                                    <div class="text-wrapper-2">밥벗 박달로62</div>
                                    <div class="overlap-group-wrapper">
                                        <div class="div-wrapper">
                                            <p class="text-wrapper-3">5,800포기 김치찜과 솥밥이 맛있는 박달로62입니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-3">
                                <div class="overlap-2">
                                    <img class="rectangle-3" src="/img/rectangle-18-2@2x.png" />
                                    <div class="text-wrapper-2">대흥식당</div>
                                    <div class="overlap-group-wrapper">
                                        <div class="div-wrapper">
                                            <p class="p">
                                                식당 아랫방에서 밀가루를 밀어서 국수 면을 손수 만들고, 만두도 직접 빚어서 판매한다...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-4">
                                <div class="overlap-2">
                                    <img class="rectangle-3" src="/img/rectangle-18-14@2x.png" />
                                    <div class="overlap-3">
                                        <div class="text-wrapper-4">타코집</div>
                                        <div class="group-2">
                                            <div class="overlap-group-3">
                                                <div class="rectangle-4"></div>
                                                <p class="text-wrapper-5">
                                                    oo에 위치한 진해 최초 멕시칸음식점 타코집입니다. 이색적이고 다채로운 멕시칸 음식...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-wrapper-6">주별 인기 메뉴</div>
                    </div>
                </div>
                <div class="text-wrapper-7">추천 메뉴</div>
            </div>
            <div class="view-5"></div>
            <div class="view-6">
                <div class="view-7">
                    <div class="div-2">
                        <div class="text-wrapper-8">야식</div>
                        <img class="image" src="/img/image-15.png" />
                    </div>
                    <div class="element">
                        <div class="text-wrapper-9">1인분</div>
                        <img class="image-2" src="/img/image-16.png" />
                    </div>
                    <div class="div-3">
                        <div class="text-wrapper-10">디저트</div>
                        <img class="image-3" src="/img/image-14.png" />
                    </div>
                    <div class="div-4">
                        <div class="text-wrapper-11">패스트푸드</div>
                        <img class="image-4" src="/img/image-13.png" />
                    </div>
                    <div class="div-5">
                        <div class="text-wrapper-12">뷔페</div>
                        <img class="image-3" src="/img/image-12.png" />
                    </div>
                </div>
                <div class="view-8">
                    <div class="div-6">
                        <div class="text-wrapper-8">분식</div>
                        <img class="image" src="/img/image-8.png" />
                    </div>
                    <div class="div-7">
                        <div class="text-wrapper-12">양식</div>
                        <img class="image-3" src="/img/image-11.png" />
                    </div>
                    <div class="div-8">
                        <div class="text-wrapper-12">일식</div>
                        <img class="image" src="/img/image-10.png" />
                    </div>
                    <div class="div-9">
                        <div class="text-wrapper-13">중식</div>
                        <img class="image-3" src="/img/image-7.png" />
                    </div>
                    <div class="div-10" onclick="moveToKoreanFoodPage()">
                        <div class="text-wrapper-8">한식</div>
                        <img class="image" src="/img/image-9.png" />
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view-9">
                    <img class="rectangle-5" src="/img/rectangle-8.svg" />
<!--                    메인 사진-->
                    <img class="rectangle-6" src="/img/rectangle-27.png" />
                    <img class="rectangle-5" src="/img/rectangle-8-2.svg" />
                </div>
            </div>
            <div class="group-wrapper">
                <div class="group-3">
                    <div class="text-wrapper-14">지역</div>
                    <img class="image-5" src="/img/" />
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function moveToKoreanFoodPage() {
        // 이동할 페이지의 URL을 설정합니다.
        var url = "/hansick";
        // 현재 페이지를 이동할 페이지로 변경합니다.
        location.href = url;
    }
</script>

</body>