<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <link rel="stylesheet" href="/css/globals.css" />
 <link rel="stylesheet" href="/css/order-page.css" />
</head>
<body>
<div class="android">
 <div class="div">
  <div class="overlap-wrapper">
   <div class="overlap">
    <div class="list">
     <div class="overlap-group">
      <div class="text-wrapper">육수 추가</div>
      <div class="component"></div>
     </div>
    </div>
    <div class="overlap-group-wrapper">
     <div class="overlap-group">
      <div class="text-wrapper">오소리감투 추가</div>
      <div class="component"></div>
     </div>
    </div>
    <div class="div-wrapper">
     <div class="overlap-group">
      <div class="text-wrapper">순대 추가</div>
      <div class="component-2"></div>
     </div>
    </div>
    <div class="list-2">
     <div class="overlap-group">
      <div class="text-wrapper">사태 추가</div>
      <div class="component"></div>
     </div>
    </div>
    <div class="list-3">
     <div class="overlap-2">
      <div class="text-wrapper-2">+1,000원</div>
      <div class="text-wrapper">머리고기 추가</div>
      <div class="div-2"></div>
     </div>
     <div class="text-wrapper-3">+1,000원</div>
     <div class="text-wrapper-4">+1,000원</div>
     <div class="text-wrapper-5">+1,000원</div>
     <div class="text-wrapper-6">+1,000원</div>
    </div>
   </div>
  </div>
  <div class="overlap-3">
   <div class="div-wrapper-2"><div class="text-wrapper-7">고기 추가 (선택)</div></div>
   <div class="rectangle"></div>
   <div class="div-3">
    <div class="list-4">
     <div class="overlap-group">
      <div class="text-wrapper-8">+500원</div>
      <div class="text-wrapper">매운 2단계</div>
      <div class="component-3"></div>
     </div>
    </div>
    <div class="list-5">
     <div class="overlap-group">
      <div class="text-wrapper-8">+500원</div>
      <div class="text-wrapper">매운 1단계</div>
      <div class="component-3"></div>
     </div>
    </div>
   </div>
  </div>
  <div class="overlap-4">
   <div class="div-wrapper-3"><div class="text-wrapper-7">맛 추가 (선택)</div></div>
   <div class="rectangle-2"></div>
   <div class="div-3">
    <div class="list-4">
     <div class="overlap-group">
      <div class="text-wrapper-9">10,000원</div>
      <div class="text-wrapper">곱배기</div>
      <div class="component-3"></div>
     </div>
    </div>
    <div class="list-5">
     <div class="overlap-group">
      <div class="text-wrapper-10">9,000원</div>
      <div class="text-wrapper">1인분</div>
      <div class="div-2"></div>
     </div>
    </div>
   </div>
  </div>
  <div class="overlap-5">
   <div class="div-wrapper-4"><div class="text-wrapper-7">가격</div></div>
   <div class="view">
    <div class="view-2"></div>
    <div class="view-3">
     <div class="overlap-group-2">
      <p class="p">
       <span class="span">한우육수+머리고기+사태<br /><br /></span>
       <span class="text-wrapper-11"
       >정성들여 끓인 한우육수와 엄선된 국내산 돼지 원육으로 준비했습니다.</span
       >
      </p>
     </div>
    </div>
    <div class="text-wrapper-12">돼지국밥</div>
    <div class="image-wrapper"><img class="image" src="/img/image.png" /></div>
   </div>
  </div>
  <div class="view-4">
   <div class="rectangle-3"></div>
   <div class="rectangle-4"></div>
   <div class="text-wrapper-13">선택하기</div>
  </div>
 </div>
</div>
</body>
</html>