<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/shop.css" />
</head>
<body>
<div class="android">
  <div class="div">
    <div class="group">
      <div class="view">
        <div class="overlap-wrapper">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-31@2x.png" />
            <div class="text-wrapper">빨강 모둠국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,500원 <br />ㆍ곱배기 : 10,500원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-9@2x.png" />
            <div class="text-wrapper">빨강 수육국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,500원 <br />ㆍ곱배기 : 10,500원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="view-2">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-4@2x.png" />
            <div class="text-wrapper">빨강 오소리감투 순대국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,500원 <br />ㆍ곱배기 : 10,500원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="view-3">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-5@2x.png" />
            <div class="text-wrapper">빨강 순대국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="element">ㆍ1인분 : 9,500원 <br />ㆍ곱배기 : 10,500원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="view-4">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-18@2x.png" />
            <div class="text-wrapper">빨강 돼지국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,500원 <br />ㆍ곱배기 : 10,500원</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view-5">
        <div class="view-6">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-17@2x.png" />
            <div class="text-wrapper">모둠국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,000원 <br />ㆍ곱배기 : 10,000원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-2@2x.png" />
            <div class="text-wrapper">수육국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,000원 <br />ㆍ곱배기 : 10,000원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-6@2x.png" />
            <div class="text-wrapper">얼큰우거지 순대국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group"><div class="text-wrapper-2">ㆍ1인분 : 9,000원</div></div>
            </div>
          </div>
        </div>
        <div class="view-2">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-2@2x.png" />
            <div class="text-wrapper">오소리감투 순대국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,000원<br />ㆍ곱배기 : 10,000원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="view-3">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-13@2x.png" />
            <div class="text-wrapper">순대국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">ㆍ1인분 : 9,000원<br />ㆍ곱배기 : 10,000원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="view-4">
          <div class="overlap">
            <img class="rectangle" src="/img/rectangle-18-10@2x.png" />
            <div class="text-wrapper">돼지국밥</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <p class="text-wrapper-2">
                  ㆍ1인분 : 9,000원<br />
                  ㆍ곱배기 : 10,000원
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlap-2">
        <div class="view-7"><div class="text-wrapper-3">메뉴</div></div>
        <div class="view-8"></div>
        <div class="view-9">
          <div class="view-10">
            <div class="element-xxx-xxxx-wrapper">
              <p class="element-xxx-xxxx">
                운영시간&nbsp;&nbsp; 매일 - 오전 10:10 ~ 오후 8:30<br />휴무일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;연중무휴<br />전화번호&nbsp;&nbsp;
                xxx-xxxx-xxxx<br />배달지역&nbsp;&nbsp; 일부지역 제외 배달가능
              </p>
            </div>
          </div>
          <div class="overlap-3">

            <div class="text-wrapper-4">국밥생각</div>
          </div>
          <div class="image-wrapper"><img class="image-2" src="/img/image-2.png" /></div>
        </div>
      </div>
    </div>
    <div class="frame">
      <div class="rectangle-2"></div>
      <div class="view-11">
        <div class="overlap-group-2"><div class="text-wrapper-11">선택하기</div></div>
      </div>
      </div>
      <img class="image-3" src="/img/image-4.png" />
    </div>
  </div>
</div>
</body>
</html>